<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <!-- Referencia a los archivos CSS en wwwroot/css -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Control Financiero</a>
        </nav>
    </header>
    <main role="main" class="container">
        @RenderBody()
    </main>
    <footer>
        <p>&copy; @DateTime.Now.Year - Control Financiero</p>
    </footer>
    <!-- Referencia a los archivos JS en wwwroot/js -->
    <script src="~/js/bootstrap.bundle.min.js"></script>
</body>
</html>
